
.Hero_Container{
  width: 100vw;
  height: 100vh;
  position: relative;

  .back_image{
    width: 100%;
    height: 100%;
    position: absolute;
    left:50%;
    top:50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}